	<header>
		<%= link_to logo, root_path %>
		<!-- logo works here becase it's defined in application helper -->
		
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path, %></li>
			<li><%= link_to "Help", help_path, %></li>
			<li><%= link_to "Sign In", '#' %></li>
		</ul>
	</nav>
	</header>